.icon {
  margin: 0.3em;
  cursor: pointer;
  transition: all 300ms ease;
}

#twitter:hover .icon {
  fill: #77ddf6;
}

#telegram:hover .icon {
  fill: #47a0b6;
}

#github:hover .icon {
  fill: black;
}

#linkedin:hover .icon,
#fb:hover .icon {
  fill: #0177b5;
}

#code:hover .icon {
  fill: #29a329;
}

#stack:hover .icon {
  fill: #ed780e;
}

#mail:hover .icon {
  fill: #d54d40;
}
