.link {
  margin: 7px;

  color: var(--link-color);

  box-shadow: none;
  border-bottom: 1px solid var(--border-color);

  transition: all 0.2s;
}

.link:first-child {
  margin-left: 0;
}

.active-link,
.link:hover {
  color: var(--hover-color);
  border-bottom-color: var(--hover-border-color);
}
